/* You can add global styles to this file, and also import other style files */
@tailwind components;
@tailwind base;
@tailwind utilities;

.card {
  width: 80px;
  height: 120px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border: 4px solid white;
  border-radius: 4px;
  color: black;
}

.card.highlighted {
  border-color: gold;
}

.card .value {
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.card .smalltop,
.card .smallbot {
  display: flex;
  justify-content: left;
  font-size: 0.75rem;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.card .smallbot {
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__face--back {
  z-index: 9999;
  background-color: #e5e5f7;
  background: repeating-linear-gradient(
    -45deg,
    #444cf7,
    #444cf7 5px,
    #e5e5f7 5px,
    #e5e5f7 25px
  );
  transform: rotateY(180deg);
}
