@tailwind components;
@tailwind base;
@tailwind utilities;

body {
  background-color: #24292e;
}

.card {
  width: 120px;
  height: 160px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  border: 8px solid white;
  border-radius: 4px;
  color: black;
}

.card.highlighted {
  border-color: #34d399;
}

.card.highlighted svg {
  color: #34d399;
}

.card .value {
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  text-align: center;
}

.card .smalltop,
.card .smallbot {
  display: flex;
  justify-content: left;
  font-size: 0.75rem;
  padding-left: 10px;
  padding-top: 10px;
  cursor: pointer;
}

.card .smallbot {
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.card.flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__face--back {
  z-index: 9999;
  transform: rotateY(180deg);
}
